:root {
  --title: #ff3535;
  --btn-secondar: #ffffff;
  --btn-seconda: #f8f9fa;
  --btn-second: #6c757d;
  --btn-secon: #495057;
  --background: #343a40;
  --backgroundOne: #000000;
}

@font-face {
  src: url("../p2.2a/font/DePixelBreit.ttf") format("truetype");
  font-family: "Pixel";
}

body {
  font-family: "Pixel";
  overflow-x: hidden;
}

.scroll {
  transform: rotate(270deg);
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url(../p2.2a/image/night.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #f8f9fa;
  text-align: center;
}
header h1 {
  position: relative;
  top: 15%;
  color: var(--title);
}
header p {
  position: relative;
  top: 88%;
  font-size: 11px;
}
header div {
  position: relative;
  top: 55%;
  font-size: 30px;
  color: var(--title);
}

header div img {
  width: 70px;
}

/* CHAPTER 1 */
#chapterOne {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: url(../p2.2a/image/forest.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  position: relative;
  top: 10%;
  left: 5%;
  text-align: justify;
  color: #f8f9fa;
  font-size: xx-large;
  font-family: "Pixel";
}
.house {
  position: absolute;
  top: 415px;
}

/* CHAPTER 2 */
#chapterTwo {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: url(../p2.2a/image/bed.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.zzz {
  position: absolute;
  top: 5%;
  left: 15%;
  background-image: url(../p2.2a/image/zzz.png);
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  width: 50vw;
  aspect-ratio: 1/1;
  animation-name: marche;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(33);
  background-size: 100% -3300%;
}

@keyframes marche {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -26400px;
  }
}
.bedroom {
  position: absolute;
  top: 27%;
  left: 23%;
  background-image: url(../p2.2a/image/sprite.png);
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  width: 80vw;
  aspect-ratio: 1/1;
  animation-name: marche2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
  background-size: 100% -20%;
}
@keyframes marche2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1920px 0px;
  }
}

/* CHAPTER 3 */
#chapterThree {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: url(../p2.2a/image/bed.svg);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bedroom2 {
  position: absolute;
  top: 27%;
  left: 23%;
  background-image: url(../p2.2a/image/);
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  width: 80vw;
  aspect-ratio: 1/1;
  animation-name: marche2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
  background-position: 3300% -20%;
}
@keyframes marche2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1920px 0px;
  }
}

.ghost {
  position: absolute;
  top: 27%;
  left: 23%;
  background-image: url(../p2.2a/image/shock.png);
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  width: 80vw;
  aspect-ratio: 1/1;
  animation-name: marche2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
  background-position: 100% 0%;
}
@keyframes marche2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1920px 0px;
  }
}
/* CHAPTER 4 */
#chapterFour {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: url(../p2.2a/image/forest.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CHAPTER 5*/
#chapterFive {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: url(../p2.2a/image/forest.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CHAPTER 6 */
#chapterSix {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: url(../p2.2a/image/forest.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CHAPTER 7 */
#chapterSeven {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: url(../p2.2a/image/forest.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CHAPTER 8 */
#chapterEigth {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: url(../p2.2a/image/bed.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* TEST SUR AUTRE PAGE POUR SPRITESHEET
.index2 {
  height: 30000px;
}

main .spriteSheet {
  position: relative;
  top: -700px;
  background-image: url(../p2.2a/image/zzz.png);
  background-repeat: no-repeat;
  background-color: #ff3535;
  z-index: 1;
  overflow: hidden;
  width: 500px;
  aspect-ratio: 1/1;
  animation-name: marche;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(33);
  background-position: 100% 3300%;
  animation-play-state: paused;
}

@keyframes marche {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -26400px;
  }
}

main .spriteSheet2 {
  position: relative;
  top: -700px;
  background-image: url(../p2.2a/image/sprite.png);
  background-repeat: no-repeat;
  background-color: #ff3535;
  z-index: 1;
  overflow: hidden;
  width: 800px;
  aspect-ratio: 1/1;
  animation-name: marche2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
  background-position: 100% 3300%;
}

@keyframes marche2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1920px 0px;
  }
}
*/
